body{
   background-image: url('zodiac background.jpg');
   text-align: center;
}
.img{
    border-radius: 50%;
    width: 10%;
    height: 10%;
  animation-name: zodiac;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes zodiac{
    from{ transform: rotateZ(0deg);
    transition: linear;}
    to{
        transform: rotateZ(360deg); 
    transition: linear;}
}
#intro{
    color: rgb(95, 97, 228);
    text-align: center;
}
.know{
    font-size: 40px;
   
}

#infos{
    font-size: 19px;
    color: rgb(242, 241, 245);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 1px;
}
#result{
    width: 60%;
    margin-left: 20%;
     
}
/* @keyframes result{
from{ transform:translateX(-500px);}
to{ transform: translateX(0px);}

} */
#signs{
      font-size: 45px;
      color: rgb(96, 94, 231);
      font-family: cursive;
      font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
}


#insertdate{
    margin-top: 20px;
    /* width: 400px; */
    height: 100px;
}
#months, #date{
    width: 140px;
    height: 30px;
    font-size: 20px;
}
#click{
    font-size: larger;
    padding: 11px;
    /* margin-left: 600px; */
    background-color: rgb(240, 219, 102);
 
}
#insertions{
    width: 50%;
    margin-top: 100px;
    margin-left: 400px;
    font-size: 25px;
    color: blanchedalmond;
  
}
@media (max-width:800px){
    #insertions{
        /* margin: auto 0; */
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    #months, #date{
        width: 130px;
        height: 25px;
        font-size: 19px;
    }
    #signs{
        font-size: 35px;
        color: rgb(96, 94, 231);
        font-family: cursive;
        font-weight: 900;
      text-align: center;
      letter-spacing: 3px;
  }
  #infos{
      font-size: 20px;
      margin-left: 0px;
  }

}